body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  text-align: center;
  background: white;
  color: #333;
}

nav {
  margin-top: 40px;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: 500;
}

.hero {
  margin-top: 60px;
}

.openbook {
  width: 220px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.book {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px;
}

.sakura::before {
  content: "";
  position: fixed;
  top: -50px;
  left: -50px;
  width: 120px;
  height: 120px;
  background: url("bilder/writewithheart.png");
  background-size: contain;
}
